# no common auxiliary files
*.log
*.aux
*.synctex.gz
*.synctex(busy)
*.out
*.toc
*.gz
*.zip
# no temporary lua file made by sourcecode.sty
tmp.lua
# no PDF artifact except guidatematica documentation files
*.pdf
!guidatematica-doc.pdf
!guidatematica.pdf
# maintain all the image pdf files
!image/*.pdf
# no secondary file made by biber
guidalua.bbl
guidalua.bcf
guidalua.blg
guidalua.run.xml
# index ausiliary files
*.idx
*.ilg
*.ind
